html, body {
  height:100%;
  width:100%;
  margin:0px;
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

.angular-google-map-container {
  height: 400px;
}

/*SIDENAV*/

.sidenav {
  background-color:#484647;
}

.sidenav-img {
  background-color:#484647;
}

.sidenav-img img {
  border-radius:50%;
  margin:30px 55px 10px 55px;
}

.sidenav-username {
  text-align:center;
  background-color:#484647;
}

.sidenav-username h2 {
  color:white;
}

.sidenav-buttons {
  background-color:#484647;
}

.sidenav-buttons md-divider {
  background-color:#6d6d6c;
}

/*Los md-button de angular-material se reemplazan por <button> -> .sidenav-buttons md-button (NO SIRVE)*/

.sidenav-buttons button {
  background-color:#504f4e;
  color:white !important;
}

/*TOOLBAR*/

.toolbar {
  background-color:#b1afac;
}

.toolbar-main {
  background-color:#6d6d6c;
}

.toolbar-main .toolbar-button md-icon {
  color:white !important;
  height:auto;
}

.toolbar-main  .toolbar-button span {
  padding-right:10px;
}

.toolbar-search {
  background-color:white;
}

.toolbar-search .toolbar-button span {
  padding-right:10px;
  color:#6d6d6c;
}

.toolbar-search .toolbar-button md-icon {
  color:#6d6d6c !important;
  height:auto;
}

.toolbar-search .toolbar-title {
  color:#6d6d6c;
}

.toolbar-search .toolbar-input {
  margin-left:20px;
}

/*TABS*/

.toolbar-tabs {
  background-color:white;
}










