<div flex="100" layout="row" style="background-color:#b1afac">
      <div flex="100" layout="column">
        <div flex layout="column" style="padding: 40px 40px 15px 40px">
            <div flex="none" style="background-color:#7e7d7c;">
              <h2 style="text-align:center;color:white;margin:0" class="md-headline">Mi perfil</h2>
            </div>
            <div layout="column" style="background-color:#999795;">
              <div flex>
                Nombre : {{user.name}}
              </div>
              <div flex>
                Email: {{user.email}}
              </div>
              <div flex>
                Avatar :
                <img flex="none" src="{{user.avatar}}">
                <md-button>Cambiar avatar</md-button>
              </div>
            </div>
        </div>
      </div>
  </div>
