<div flex="100" class="main-content" layout="row" layout-xs="column" layout-sm="column" layout-fill>
      <div flex="100" class="left-col" layout="column">

                <!-- MAPA -->

                <div flex class="content" ng-controller="MapController" layout="column">
                    <div flex="none" class="content-header">
                      <h3 class="md-headline">
                        Mapa
                      </h3>
                    </div>
                    <div flex="none" class="content-wrapper" layout="row">
                      <ui-gmap-google-map events="map_events" flex="100" center="mapOptions.center" zoom="mapOptions.zoom">

                        <ui-gmap-markers models="complaints" events="marker_events" coords="'self'" idKey="'_id'">
                        </ui-gmap-markers>

                      </ui-gmap-google-map>
                    </div>
                    <div flex="none" class="content-footer" layout="row" layout-align="center">
                      <md-button ng-click="center()" flex="none" layout="fill">
                        <md-icon flex md-font-set="material-icons">
                          near_me
                        </md-icon>
                        <span flex hide-xs>Centrar en mí</span>
                      </md-button>
                    </div>
                </div>

                <!-- AÑADIR DENUNCIA -->

                <div flex="100" class="content" flex-order="0" ng-controller="AddComplaintController" ng-show="newComplaint.visible" layout="column">

                  <div flex="none" class="content-header" layout="row" >
                    <div layout="row" class="content-title" flex="100">
                      <h3 flex="none" class="md-headline" layout-align="start center">
                        Añadir denuncia
                      </h3>
                    </div>
                    <div flex="none" layout="row" class="content-button">
                      <md-button ng-click="hide()">
                        <md-icon md-font-set="material-icons">
                          expand_less
                        </md-icon>
                      </md-button>
                    </div>
                  </div>

                  <div flex="none" class="content-wrapper">
                    <form layout="column" class="new-complaint-form" layout-padding>

                        <textarea type="text" flex ng-model="newComplaint.complaint.description" placeholder="Describe la denuncia ..."></textarea>

                        <div flex class="new-complaint-form-photo">
                          <span>
                            Foto:
                          </span>
                          <input type="file" ngf-select ng-model="newComplaint.complaint.photo" name="file" accept="image/*" required>
                          <img ngf-src="newComplaint.complaint.photo" ngf-resize="{width: 20, height: 20, quality: 0.9}">
                        </div>

                        <div flex="none" class="new-complaint-form-audio">
                          <span>
                            Audio:
                          </span>
                          <input type="file" ngf-select ng-model="newComplaint.complaint.audio" accept="audio/*" required>
                          <audio ngf-thumbnail="newComplaint.complaint.audio" ngf-size="{width: 20, height: 20, quality: 0.9}">
                        </div>

                        <div flex="none" layout="row" class="new-complaint-form-submit">
                          <span flex="100"></span>
                          <md-button flex="none" ng-click="addComplaint()">
                            <md-icon layout-align="center" flex md-font-set="material-icons">
                              cloud_upload
                            </md-icon>
                            <span flex hide-xs>Subir denuncia</span>
                          </md-button>
                        </div>

                    </form>
                  </div>
                </div>

                <!-- ÚLTIMAS DENUNCIAS -->

                <div flex="100" class="content" flex-order="2" ng-controller="LastComplaintsController" layout="column">
                  <div flex="none" class="content-header">
                    <h3 class="md-headline">
                      Últimas denuncias
                    </h3>
                  </div>
                  <md-list flex="none" class="content-wrapper">
                      <md-list-item class="last-complaint-item">
                          <div flex="100" layout="row">
                              <div flex="none" class="last-complaint-item-img">
                                <img src="" alt=""/>
                              </div>
                              <div flex="100" class="last-complaint-item-description">
                                  <div>
                                    <p>
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a augue sed mi pretium ultrices. Ut mattis eleifend dolor, ac porta felis pretium laoreet. Nam ultrices varius justo nec facilisis. Fusce blandit lobortis blandit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed elementum risus a elementum gravida. Mauris bibendum lacinia nibh, eget interdum orci tincidunt nec.
                                    </p>
                                  </div>
                              </div>
                              <md-button flex="none" class="last-complaint-item-button">
                                <md-icon flex="none" md-font-set="material-icons">
                                  report
                                </md-icon><br>
                              </md-button>
                          </div>
                      </md-list-item>
                  </md-list>
                </div>
      </div>

      <!-- INFO DENUNCIA -->

      <div flex="70" layout="column" class="content right-col" flex-order-xs="-1" flex-order-sm="-1" flex-sm="100" flex-xs="100" ng-controller="CurrentComplaintController" ng-show="currentComplaint.visible" >

        <div flex="none" class="content-header" layout="row" >
          <div flex="none" layout="row" class="content-button">
            <md-button ng-click="hide()">
              <md-icon md-font-set="material-icons">chevron_left</md-icon>
            </md-button>
          </div>
          <div flex="100" layout="row" class="content-title" >
            <h3 flex="none" class="md-headline" layout-align="end center">
              Descripción
            </h3>
          </div>
        </div>

        <div flex="none" class="content-wrapper" layout="column">

            <div layout="row" class="info-complaint-slide" layout-padding layout-align="center center">
              <a href="#">
                <md-icon flex="none" md-font-set="material-icons">
                  chevron_left
                </md-icon>
              </a>
              <img flex="100" src="{{currentComplaint.complaint.photo}}" alt="">
              <a href="#">
                <md-icon flex="none" md-font-set="material-icons">
                  chevron_right
                </md-icon>
              </a>
            </div>

            <div layout="row" class="info-complaint-type">
              <span flex="50">
                TIPO DE BARRERA
              </span>
              <md-divider></md-divider>
              <span flex="50">
                {{currentComplaint.complaint.type}}
              </span>
            </div>

            <div flex="none" class="info-complaint-audio" layout="column">

            </div>

            <div flex="none" class="info-complaint-description">
                <p>
                  {{currentComplaint.complaint.description}}
                </p>
            </div>

            <div flex="none" class="info-complaint-buttons" layout="row">
                <div flex="50" >
                  <md-button>
                    Comentar
                  </md-button>
                </div>
                <md-divider></md-divider>
                <div flex="50">
                  <md-button>
                    Compartir
                  </md-button>
                </div>
            </div>

            <div ng-show="currentComplaint.complaint.comments.length == 0">
              <div flex="none" class="info-complaint-comment-nocomments">
                <p>
                  No hay ningún comentario aún.
                </p>
              </div>
            </div>

            <div flex="none" class="content-wrapper" layout="column">
              <div ng-repeat="comment in currentComplaint.complaint.comments">
                <div class="info-complaint-comment" layout="row"  >
                  <div flex="none" class="info-complaint-comment-img">
                      <img src="" alt=""/>
                  </div>
                  <div flex="100" class="info-complaint-comment-body">
                    <p>
                      {{comment.description}}
                    </p>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
</div>
