<div layout="row" layout-fill>

  <div ng-controller="SidenavController" class="sidenav" flex="auto" layout="column">

    <md-sidenav flex="none" layout="column" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >

      <div flex="none" class="sidenav-img" layout="column" >
        <img src="{{user.model.avatar}}">
      </div>

      <div flex="none" class="sidenav-username">
        <h2 class="md-headline">
          {{user.model.name}}
        </h2>
      </div>

      <div flex class="sidenav-buttons" layout="column">
        <md-divider flex="none" layout-margin></md-divider>
        <md-button flex="none">
            Últimas denuncias
        </md-button>
        <md-button flex="none">
          Más valoradas
        </md-button>
        <md-button flex="none" >
          Denuncias cercanas
        </md-button>
        <md-divider flex="none" layout-margin></md-divider>
        <md-button flex="none">
          Estadísticas
        </md-button>
        <md-button flex="none" ng-show="isLogin()">
          Mis denuncias
        </md-button>
      </div>

      <div layout="column" class="sidenav-buttons" layout-align="end none">
        <md-button flex>
          Reportar fallo
        </md-button>
      </div>

    </md-sidenav>

  </div>

  <div flex="100" class="toolbar" layout="column">

      <div ng-controller="ToolbarController">

          <md-toolbar ng-show="!showSearch">

            <div class="md-toolbar-tools toolbar-main">

                <md-button hide-gt-md ng-click="openLeftMenu()" class="toolbar-button">
                  <md-icon md-font-set="material-icons">menu</md-icon>
                </md-button>

                <md-icon md-font-set="material-icons" hide-md hide-xs hide-sm>

                </md-icon>

                <h3 md-header-title flex>
                  Volcán
                </h3>

                <span flex></span>

                <md-button class="toolbar-button" ng-click="showSearch = !showSearch" >
                  <md-icon md-font-set="material-icons">search</md-icon>
                </md-button>

                <md-button class="toolbar-button" ui-sref="registro" ng-show="!user.model.authenticate" >
                  <span hide-xs hide-sm>Registrate</span>
                  <md-icon md-font-set="material-icons" >assignment</md-icon>
                </md-button>

                <md-button class="toolbar-button" ui-sref="entrar" ng-show="!user.model.authenticate">
                  <span hide-xs hide-sm >Entra</span>
                  <md-icon md-font-set="material-icons" >account_circle</md-icon>
                </md-button>

                <md-button class="toolbar-button" ng-show="user.model.authenticate" ng-controller="LogoutController" ng-click="submit()">
                  <span hide-xs hide-sm>Desconectar</span>
                  <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                </md-button>

            </div>

          </md-toolbar>

          <md-toolbar ng-show="showSearch">

            <div class="md-toolbar-tools toolbar-search">

                <md-button class="toolbar-button"flex="none" ng-click="showSearch = !showSearch">
                  <md-icon md-font-set="material-icons">arrow_back</md-icon>
                </md-button>

                <h3 class="toolbar-title" md-header-title flex="none">
                  Atrás
                </h3>

                <md-input-container class="toolbar-input" flex layout="row">
                  <label>&nbsp;</label>
                  <input  type="text" placeholder="Buscar...">
                </md-input-container>

                <md-button class="toolbar-button" ng-click="showSearch = !showSearch" >
                  <md-icon md-font-set="material-icons" >search</md-icon>
                </md-button>

                <md-button class="toolbar-button" flex="none" ui-sref="registro" ng-show="!user.model.authenticate">
                  <span hide-xs hide-sm>
                    Registrate
                  </span>
                  <md-icon md-font-set="material-icons" >assignment</md-icon>
                </md-button>

                <md-button class="toolbar-button" flex="none" ui-sref="entrar" ng-show="!user.model.authenticate">
                  <span hide-xs hide-sm>Entrar</span>
                  <md-icon md-font-set="material-icons">account_circle</md-icon>
                </md-button>

                <md-button class="toolbar-button" ng-show="user.model.authenticate" ng-controller="LogoutController" ng-click="submit()">
                  <span hide-xs hide-sm>Desconectar</span>
                  <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                </md-button>

            </div>

          </md-toolbar>

          <md-tabs class="toolbar-tabs" md-stretch-tabs="always" md-selected="0">

              <md-tab ui-sref="principal.mapa">
                Principal
              </md-tab>
              <md-tab ng-if="user.model.authenticate" ui-sref="principal.perfil">
                Mi perfil
              </md-tab>
              <md-tab>
                Opciones
              </md-tab>

          </md-tabs>

      </div>

      <md-content>

        <div ui-view></div>

      <md-content>

  </div>
</div>
