<h3 class="md-display-1">Registro de usuario</h3>
<form ng-controller="RegisterController">
  <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Email</label>
        <input ng-model="new_user.email" type="email">
      </md-input-container><br>
      <md-input-container>
        <label>Contraseña</label>
        <input ng-model="new_user.password">
      </md-input-container>
    </div>
  </md-content>
  <md-button class="md-raised md-primary" ng-click="submit()">Registrar</md-button>
</form>
