<div layout="row" style="position:absolute;height:100%;width:100%;background-color:#b1afac">
  <div layout="column" flex layout-align="center center" >
    <h3 class="md-display-1" style="color:#6b6a6a">Registro de usuario</h3>
      <form ng-controller="RegisterController" name="projectForm" novalidate >
        <md-content layout-gt-sm="row" layout-padding>
            <md-input-container>
              <label>Nombre de usuario</label>
              <input ng-model="new_user.name" name="name" type="text" required>
              <div ng-messages="projectForm.name.$error" ng-hide="projectForm.name.$pristine" multiple md-auto-hide="false">
                <div ng-message="required">
                  El nombre de usuario es un campo obligatorio.
                </div>
              </div>
            </md-input-container><br>

            <md-input-container>
              <label>Correo electrónico</label>
              <input ng-model="new_user.email" name="email" type="email" required>
              <div ng-messages="projectForm.email.$error" ng-hide="projectForm.email.$pristine" multiple md-auto-hide="false">
                <div ng-message="required">
                  El email es un campo obligatorio.
                </div>
                <div ng-message="email">
                  No es un email válido.
                </div>
              </div>
            </md-input-container><br>

            <md-input-container>
              <label>Contraseña</label>
              <input ng-model="new_user.password" name="password" type="password" minlength="5" required>
              <div ng-messages="projectForm.password.$error" ng-hide="projectForm.password.$pristine" ng-show="projectForm.password.$touched" multiple md-auto-hide="false">
                <div ng-message="required" >
                  La contraseña es un campo obligatorio.
                </div>
                <div ng-message="minlength">
                  Mínima longitud de 5 carácteres.
                </div>
              </div>
            </md-input-container><br>

            <div layout="column">
              <md-button layout="column" flex="100" class="md-raised" style="background-color:#504f4e;color:white" layout-padding ng-click="submit()">
                  ÚNETE AHORA A LA COMUNIDAD
              </md-button>
              <md-button layout="column" flex="100" class="md-raised" style="background-color:#504f4e;color:white" layout-padding ng-click="submit_anonym()">
                  ENTRA AHORA Y PRUÉBALO
              </md-button>
            </div>

        </md-content>
      </form>
  </div>
</div>
